{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Please check your email</h3>
                    <p class="card-text text-center">
                        We've emailed you with instructions to reset your password.  Please check your inbox (and spam folder).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}