{% extends "registration/base.html" %}
{% load static %}
{% block title %} Password Reset {% endblock %}
{% block content %}
    <div class="signup-form-container">
        <h2>Сброс пароля</h2>
        <p>Пожалуйста, введите ваш адрес электронной почты.<br>
           Мы отправим вам инструкции по сбросу пароля.</p>
        <form method="post" class="signup-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Отправить</button>
        </form>
    </div>
{% endblock %}
