{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <img src=" {{ user.profile.avatar.url }}" alt="Avatar" class="rounded-circle me-3" width="80" height="80">

                        <div>
                            <h3 class="card-title">{{ user.username }}</h3>

                        </div>
                    </div>
                    <p class="card-text">{{ user.profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

